body{
    background-color: rgb(104, 100, 100);
    margin: auto;
    width: 100%;
}
.main{
}

header{
    background-color: rgb(255, 255, 255);
    margin: 10px;
    border-radius: 10px;

}

.mg-logo{
    display: block;
    margin: auto;
    padding-top: 10px;
    width: 15%;
}

header h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header p{
    text-align: center;
    padding-bottom: 10px;
    color: coral;
}

.easy {
    position: absolute;;
    top: 0px;
    bottom:50px;
    right: 0px;
    left: 0px;
    width: 222px;
    height: 222px;
    margin: auto;
    padding: auto;
    background-color: gray;
    display: block;
}

.hard {
    position: absolute;;
    top: 0px;
    bottom: 90px;
    right: 0px;
    left: 0px;
    width: 330px;
    height: 330px;
    margin: auto;
    padding: auto;
    background-color: gray;
    display: block;
}
.e1, .e2, .e3, .e4{
    position: relative;
    display: inline-block;
    margin: 0px;
    width: 50px;
    left: 5px;
    margin-top: 5px;
    height: 50px;
    padding: 0px;
    background-color: white; 
}
.e5, .e6, .e7, .e8, .e9, .e10, .e11, .e12, .e13, .e14, .e15, .e16 {
    position: relative;
    display: inline-block;
    margin: 0px;
    width: 50px;
    left: 5px;
    margin-top: 0px;
    height: 50px;
    padding: 0px;
    background-color: white;
}

.h1, .h2, .h3, .h4, .h5, .h6{
    position: relative;
    display: inline-block;
    margin: 0px;
    width: 50px;
    left: 5px;
    margin-top: 5px;
    height: 50px;
    padding: 0px;
    background-color: white;
}

.h7, .h8, .h9, .h10, .h11, .h12, .h13, .h14, .h15, .h16 , .h17, .h18, .h19, .h20, .h21, .h22, .h23, .h24,.h25, .h26, .h27, .h28, .h29, .h30, .h31 , .h32, .h33, .h34, .h35, .h36{
    position: relative;
    display: inline-block;
    margin: 0px;
    width: 50px;
    left: 5px;
    margin-top: 0px;;
    height: 50px;
    padding: 0px;
    background-color: white;
}

.btn{
    width: 300px;
    height: 50px;
    font-weight: 700;
    font-size: 25px;
}
.inpt{
    width: 250px;
    height: 30px;
    text-align: center;
    margin-top: 25px
}
.submit{
    width: 50px;
    height: 35px;
}

footer{
    background-color: rgb(216, 193, 193);
    text-align: center;
    padding: 1px;
    position: absolute;
    bottom:0;
    margin: 0px;
    display: block;
    width: 100%;
}

.flip3d{
    width: 50px;
    height: 50px;
    float: left;
}
.flip3d > .front {
    position: absolute;
    transform: perspective(600px) rotateY(0deg);
    background-color: #fc0;
    width:50px ;
    height: 50px;
    backface-visibility: hidden;
    transition: transform .5s linear 0s;
}
.flip3d > .back {
    position: absolute;
    transform: perspective(600px) rotateY(180deg);
    background-color: #111111;
    width:50px ;
    height: 50px;
    opacity: 0.9;
    backface-visibility: hidden;
    transition: transform .5s linear 0s;
}
.flip3d:hover > .front {
    transform: perspective(600px) rotateY(-180deg);
}
.flip3d:hover > .back {
    transform: perspective(600px) rotateY(0deg);
}



.btnplay{
    width: 300px;
    height: 30px;
    background-color: #111111;
    top: 10px;
    cursor: pointer;
}
.Play{
    height: 10px;
    color: aliceblue;
    font-weight: 700;
    padding-top: 5px;
    top: 10px;
    font-family: Allura,"Times New Roman",monospace;
    bottom: auto;

}
.foot{
    margin-top: 20px;
}
